.contracts-wrapper {
    margin-right: 43%;

    .contracts-content {
        position: relative;
        // z-index: 1;
        // display: flex;
        // align-items: flex-end;


        .contracts-content-title {
            flex-basis: 60%;
            font-size: 64px;
            font-weight: 600;
            text-align: left;
            margin-bottom: 40px;

            .contracts-highlight {
                color: #E04E10;
            }
        }

        .contracts-content-sub-title {
            font-size: 20px;
            margin-top: 10px;
            max-width: 600px;
            font-weight: 400;
        }

        .contracts-buttons {
            // flex-basis: 60%;
            display: flex;
            justify-content: start;
            gap: 15px;
            flex-wrap: wrap;
        }
    }
}

/* for Contracts*/
@media (max-width: 1200px) {
    .contracts-wrapper {
        margin-right: auto !important;

        .contracts-content {
            display: block !important;
            // padding: 20px;
            gap: 15px;

            .contracts-content-title {
                padding: 20px;
                font-size: 70px !important;
                /* Adjust font size for medium screens */
            }

            .contracts-content-sub-title {
                font-size: 18px !important;
                /* Adjust font size for medium screens */
            }

            .contracts-buttons {
                padding: 20px;
                flex-direction: row !important;
                align-items: right !important;
                width: 100%;
            }
        }
    }
}

@media (max-width: 900px) {
    .contracts-wrapper {
        margin-right: auto !important;

        .contracts-content {
            gap: 15px;

            .contracts-content-title {
                font-size: 55px !important;
                padding: 20px;
            }

            .contracts-content-sub-title {
                font-size: 16px !important;
                max-width: 500px !important;
            }

            .contracts-buttons {
                flex-direction: column !important;
                align-items: center;
                width: 100%;
            }
        }
    }
}

@media (max-width: 600px) {
    .contracts-wrapper {
        margin-right: auto !important;

        .contracts-content {
            gap: 15px;

            .contracts-content-title {
                font-size: 38px !important;
                padding: 20px;
            }

            .contracts-content-sub-title {
                font-size: 14px !important;
                max-width: 300px;
            }

            .contracts-buttons {
                flex-direction: column !important;
                align-items: center;
                width: 100%;
            }
        }
    }
}

.contract-equipment-requirements-section {
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

@media(max-width: 600px) {
    .contract-equipment-requirements-section {
        display: block !important;
        gap: 50px;
    }
}
