.equipment-container {
    background-color: #f5f7f9;
    padding: 32px;
  
    .bid-list {
      display: flex;
      flex-direction: column;
      gap: 16px;
      height: 480px; // Fixed height for scrollable area
      overflow-y: auto; // Enables vertical scrolling
      padding: 8px 16px 8px 0;
      
      // Optional: Custom scrollbar styling
      &::-webkit-scrollbar {
        width: 6px; // Thin scrollbar
      }
    
      &::-webkit-scrollbar-thumb {
        background-color: #ccc; // Scroll thumb color
        border-radius: 4px; // Rounded corners
      }
    
      &::-webkit-scrollbar-track {
        background-color: transparent; // Transparent track
      }
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  
    .title {
      color: #033F59;
      font-weight: 600;
      font-size: 32px;
    }
  
    // Media query for tablets & mobile screens
    @media (max-width: 768px) {
      flex-direction: column; // Stack items vertically
      align-items: center;
      text-align: center;
  
      .title {
        font-size: 32px; // Reduce font size for better fit
        margin-bottom: 12px; // Add spacing below title
      }
  
      .rent-button {
        width: 100%; // Make button full width on smaller screens
        max-width: 300px; // Prevent excessive stretching
        text-align: center;
      }
    }
  }

  .contract-header {
    max-width: 384px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

      .title {
        color: #033F59;
        font-weight: 600;
        font-size: 48px;
        text-align: start;
      }
    
      // Media query for tablets & mobile screens
      @media (max-width: 768px) {
        padding-bottom: 20px;
      }
    }
  