.footer {
  background-color: #081D26;
  color: white;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box; /* Ensures padding and borders are included in element's width */

  .footer-content {
    display: flex;
    margin: 50px auto; /* Centered horizontally with auto margin */
    gap: 60px;
    max-width: 100%; /* Ensure content doesn't exceed the viewport width */
    width: 100%; /* Take up the full available width */
    box-sizing: border-box; /* Include padding and borders in the width calculation */

    /* Adjust the layout for smaller screens */
    @media (max-width: 1024px) {
      margin: 50px 20px; /* Reduced margin for medium screens */
      gap: 50px; /* Reduced gap between items */
      flex-direction: column;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 30px; /* Further reduced gap for smaller screens */
    }

    .footer-logo img {
      height: 32px;
      width: 255.18px;
      margin-bottom: 20px;
      margin-right: 60px; /* Added margin towards right */

      /* Adjust logo size for small screens */
      @media (max-width: 768px) {
      width: 200px;
      margin-right: 15px; /* Slightly reduced right margin for small screens */
      }
    }

    .footer-links {
      display: flex;
      gap: 100px;

      /* Adjust footer-links for smaller screens */
      @media (max-width: 768px) {
        flex-direction: column;
        gap: 30px; /* Reduced gap for small screens */
      }
    }

    .footer-btn {
      display: flex;
      flex-direction: column;
      background: transparent;
      text-align: left;
      color: white;
      font-size: 22px;
      font-weight: 600;
      width: 220px;
      font-family: 'Clash Display Variable', sans-serif; /* Using Clash Display Variable font */

      /* Adjust font size for smaller screens */
      @media (max-width: 768px) {
        font-size: 20px;
        width: 100%;
      }
    }

    .footer-sub-divisions {
      margin-top: 15px;
      font-weight: 200;
      font-size: 18px;
      color: #FFFFFF;
      text-align: left;
    }

    .footer-contact-info {
      display: flex;
      gap: 10px;
      flex-direction: column;
      align-items: flex-start;

      .footer-icon-wrapper {
        display: flex;
        gap: 12px;
        align-items: center;
      }

      .footer-icon {
        color: #FFFFFF;
        background: #EC652C;
        border-radius: 0px;
        padding: 10px;
        width: 28px;
        height: 28px;

        svg {
          font-size: 24px;
        }
      }
    }
  }
}

.footer-copywrite {
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #06171E;
  padding: 10px;

  /* Adjust for smaller screens */
  @media (max-width: 768px) {
    font-size: 14px;
    padding: 10px 20px;
  }
}
