/* Global Landing Page */
.landing-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Hero Section */
.home-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  // height: calc(100vh - 70px);
  height: 780px;
  background-image: url('../assets/background.jpg');
  background-size: cover;
  background-position: center center;
  text-align: center;
  color: white;
  padding-top: 70px;
  /* Padding to avoid navbar overlap */

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
  }

  .content {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: flex-end;

    // gap: 500px;
    // margin-top: 150px;
    .content-title {
      flex-basis: 40%;
      font-size: 84px;
      font-weight: 600;
      text-align: justify;

      .highlight {
        color: #E04E10;
      }
    }

    .content-sub-title {
      font-size: 20px;
      margin-top: 10px;
      max-width: 600px;
      font-weight: 400;
    }

    .buttons {
      flex-basis: 60%;
      display: flex;
      justify-content: end;
      gap: 15px;
      flex-wrap: wrap;
    }
  }
}

/* Additional media queries for fine-tuning */
@media (max-width: 1200px) {
  .content {
    display: block !important;
    // padding: 20px;
    gap: 15px;

    .content-title {
      padding: 20px;
      font-size: 70px !important;
      /* Adjust font size for medium screens */
    }

    .content-sub-title {
      font-size: 18px !important;
      /* Adjust font size for medium screens */
    }

    .buttons {
      padding: 20px;
      flex-direction: row !important;
      align-items: right !important;
      width: 100%;
    }
  }
}

@media (max-width: 900px) {
  .content {
    display: block !important;
    // padding: 20px;
    gap: 15px;

    .content-title {
      font-size: 55px !important;
      padding: 20px;
    }

    .content-sub-title {
      font-size: 16px !important;
      max-width: 500px !important;
    }

    .buttons {
      flex-direction: column !important;
      align-items: center;
      width: 100%;
    }
  }
}

@media (max-width: 600px) {
  .content {
    display: block !important;
    // padding: 20px;
    gap: 15px;

    .content-title {
      font-size: 40px !important;
      padding: 20px;
      margin-bottom: 100px;
    }

    .content-sub-title {
      font-size: 14px !important;
      max-width: 300px;
    }

    .buttons {
      flex-direction: column !important;
      align-items: center;
      width: 100%;
    }

    .buttons .button {
      width: 100% !important;
    }
  }
}

.equipment-requirements-section {
  // padding: 40px 20px;
  padding: 0px 20px 20px;
}

.bid-card-container {
  display: flex;
  flex-direction: column;
  gap: 16px; // Adjust gap size as needed
}