/* Navbar Styling */
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    // background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;

    .logo img {
        height: 40px;
    }

    .navbar-links {
        display: flex;
        gap: 20px;

        a {
            text-decoration: none;
        }

        .nav-btn {
            background: transparent;
            color: white;
            border: none;
            font-size: 16px;
            cursor: pointer;
            transition: 0.3s ease;
            text-transform: uppercase;

            &:hover {
                color: #e04e10;
            }
        }
    }
}

@media (max-width: 600px) {
    .navbar {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
  }

//   main {
//     padding-top: 80px;
//   } 