.questions-container {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #F3F7FB;

    .questions-title {
        font-size: 48px;
        font-weight: 600;
        color: #033F59;
        margin-bottom: 20px;
        align-self: flex-start;

        .highlight {
            color: #E04E10;
        }
    }

    .questions-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        width: 100%;
        position: relative;
    }

    @media (max-width: 1024px) {
        .questions-title {
            font-size: 36px;
        }

        .questions-wrapper {
            flex-direction: column;
            align-items: center;
        }
    }

    @media (max-width: 768px) {
        .questions-title {
            font-size: 28px;
        }

        .questions-wrapper {
            flex-direction: column;
            align-items: center;
        }
    }
}